.hamburger {
    cursor: pointer;
    display: block;
}

.bar {
    background-color: var(--hamburger-btn-elements);
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    width: 25px;
}

