.paginationPadding {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 28px;
}

.active {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);

}

.item {
    align-items: center;
    border: 1px solid var(--grey);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    line-height: 16px;
    margin: 5px;
    min-width: 16px;
    padding: 5px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    height: 100%;
    outline: inherit;
	padding: 0;
    width: 100%;
}